.tc--grey {
    color: #b6b6b6;
}

.tc--black {
    color: #262626;
}

.bg--red {
    background: #ff0000;
}

.bg--yellow {
    background: #eeff00;
}

.bg--blue {
    background: #00fff2;
}

.bg--pink {
    background: #ff00b3;
}


$head_grey:#464646;
$tc_grey: #b6b6b6;
$tc_black: #262626;
$light_blue: #1aa1e6;
$white: #fff;
$product_hover: #f5f5f5;