$header_margin: 50px;
$side_padding: 0 30px;


$break-medium: 990px;
$break-small: 500px;
$break-large: 1330px;

/*=======================================
font
=======================================*/
$ft-small: .615em;
$ft-medium: .75em;
$ft-large: 1em;

$color_select_size: 1.5em;